@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
#wrapper_background{
  background-color:#674172;
  padding:0;
  margin:0;
  min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 9999;
}

h1{
  font-family:Dancing Script;
    color:#BE90D4;
  font-size:60px;
}

.wrapper {
    text-align: center;
    margin: 20% auto 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-filter: url(#ball);
    filter: url(#ball);
}

.ball{
    display:block;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#DCC6E0;
    position:absolute;
    top:75px;
    left:75px;

  }
  .ball:nth-child(1){
    animation : ball1 2s infinite;
  }
  .ball:nth-child(2){
    animation : ball2 1.5s infinite;
  }
    .ball:nth-child(3){
    animation : ball3 2.5s infinite;
  }
      .ball:nth-child(4){
    animation : ball4 1s infinite;
  }


    @keyframes ball1{
            0%{
            transform : translateX(-35px) ;
            }
            40%{
            transform : translateX(0);
            }
            100%{
            transform : translateX(-35px);

            }
}
@keyframes ball2{
            0%{
            transform : translateX(35px);
            }
            50%{
            transform : translateX(0);
            }
            100%{
            transform : translateX(35px);

            }
}
    @keyframes ball3{
            0%{
            transform : translateY(-35px);
            }
            50%{
            transform : translateY(0);
            }
            100%{
            transform : translateY(-35px);

            }
}
    @keyframes ball4{
            0%{
            transform : translateY(35px);
            }
            50%{
            transform : translateY(0);
            }
            100%{
            transform : translateY(35px);

            }
}
