{% extends 'base_template.html' %}
{% block title %}Dodawanie kwitu{% endblock %}
{% block content %}
    <div class="container">
        <div class="row"><div class="last_ticket col-sm-12 bg-info text-center">Ostatni dodany numer kwitu: <span class="last_ticket_number"></span></div></div>
        <div class="inside-container">
            <form action="{% url 'create_ticket' %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label class="text-muted">Klient</label>
                    {{ form.client }}
                </div>
                <div class="form-group">
                    <label class="text-muted">Mesiąc</label>
                    {{ form.month }}
                </div>
                <div class="form-group">
                    <label class="text-muted">Numer kwitu</label>
                    {{ form.ticket_number }}
                </div>
                <div class="form-group" id="address">
                    <label class="text-muted">Adres</label>
                    {{ form.address }}
                </div>
                <div class="form-group">
                    <label class="text-muted">Number klienta</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label class="text-muted">Iłość dywanów</label>
                    {{ form.carpets_nmb }}
                </div>
                <div class="checkbox text-center">
                    <div class="text-danger">
                        <lable>{{ form.is_express }} EKSPRES</lable>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-muted">Dodatkowa informacja</label>
                    {{ form.attentions }}
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Zapisz" class="btn btn-dark">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    $('#id_month').change(function () {
        console.log($('#id_month option:selected').val());
    });

    /*resetujemy wszystkie input*/
    $('#id_carpets_nmb').val('');

    /*selected today month*/
    $(function () {
        $('#id_month option[value="{{ month_for_select }}"]').attr("selected", "selected");
    });

    $(function () {
        $('#id_phone_number').mask("999-999-999");
    })

    $last_ticket = $('.last_ticket').hide();
    $address = $('#address').hide();

    $('#id_client').change(function () {
        $selected = $(this).find(':selected').text().toLowerCase();
        if ($selected == 'osobisty'){
            $last_ticket.slideDown();
            $address.slideUp();
            $last_number_input = {{ last_ticket_number_for_personal }} + 1;
            $('.last_ticket_number').text('{{ last_ticket_number_for_personal }}');
            $('#id_ticket_number').val($last_number_input);
        }
        else if ($selected == 'transport'){
            $last_ticket.slideDown();
            $address.slideDown();
            $last_number_input = {{ last_ticket_number_for_transport }} + 1;
            $('.last_ticket_number').text('{{ last_ticket_number_for_transport }}');
            $('#id_ticket_number').val($last_number_input);
        }
        else{
            $last_ticket.slideUp();
            $address.slideUp();
            $('#id_ticket_number').val('');
        }

    });

    </script>
{% endblock %}