{% extends 'base_template.html' %}
{% block title %}Dodawanie kwitu{% endblock %}
{% block content %}
    <div class="last_ticket">Ostatni dodany numer kwitu: <span class="last_ticket_number"></span></div>
    <form action="#" method="post">{% csrf_token %}
    <table>
        <tr>
            <th>Typ zlecenia</th>
            <th>Numer kwitu</th>
            <th>Miesiąc</th>
        </tr>
        <tr>
            <td>{{ form.client }}</td>
            <td>{{ form.ticket_number }}</td>
            <td>{{ form.month }}</td>
        </tr>
        <tr>
            <th>Numer klienta</th>
            <td>{{ form.phone_number }}</td>
        </tr>
        <tr>
            <th>Ilość dywanów</th>
            <td>{{ form.carpets_nmb }}</td>
        </tr>
        <tr>
            <th>Usługa ekspresowa</th>
            <td>{{ form.is_express }}</td>
        </tr>
        <tr>
            <th>Uwagi</th>
            <td>{{ form.attentions }}</td>
        </tr>

        <tr><td></td><td><input type="submit" value="Zapisz" class="btn btn-success"></td></tr>
    </table>
    </form>
{% endblock %}

{% block scripts %}
    <script>
    $last_ticket = $('.last_ticket').hide();
    $('#id_client').change(function () {
        $selected = $(this).find(':selected').text().toLowerCase();
        console.log($selected);
        if ($selected == 'osobisty'){
            $last_ticket.show();
            $('.last_ticket_number').text('{{ last_ticket_number_for_personal }}');
        }
        else if ($selected == 'transport'){
            $last_ticket.show();
            $('.last_ticket_number').text('{{ last_ticket_number_for_transport }}')
        }
    })
    </script>
{% endblock %}