{% extends 'base_template.html' %}
{% block title %}Dodawanie kwitu{% endblock %}
{% block content %}
    <div class="container">
        <div class="row"><div class="last_ticket col-sm-12">Ostatni dodany numer kwitu: <span class="last_ticket_number"></span></div></div>
        <form action="{% url 'create_ticket' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label class="text-muted">Klient</label>
                {{ form.client }}
            </div>
            <div class="form-group">
                <label class="text-muted">Mesiąc</label>
                {{ form.month }}
            </div>
            <div class="form-group">
                <label class="text-muted">Numer kwitu</label>
                {{ form.ticket_number }}
            </div>
            <div class="form-group">
                <label class="text-muted">Number klienta</label>
                {{ form.phone_number }}
            </div>
            <div class="form-group">
                <label class="text-muted">Iłość dywanów</label>
                {{ form.carpets_nmb }}
            </div>
            <div class="checkbox text-center">
                <div class="text-danger">
                    <lable>{{ form.is_express }} EKSPRES</lable>
                </div>
            </div>
            <div class="form-group">
                <label class="text-muted">Dodatkowa informacja</label>
                {{ form.attentions }}
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-block btn-dark">
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    $last_ticket = $('.last_ticket').hide();
    $('#id_client').change(function () {
        $selected = $(this).find(':selected').text().toLowerCase();
        console.log($selected);
        if ($selected == 'osobisty'){
            $last_ticket.show();
            $('.last_ticket_number').text('{{ last_ticket_number_for_personal }}');
        }
        else if ($selected == 'transport'){
            $last_ticket.show();
            $('.last_ticket_number').text('{{ last_ticket_number_for_transport }}')
        }
    })
    </script>
{% endblock %}