<!--  -->
a{
    text-decoration: none;
}

a.light{
    color: #ffffff;
}

a.dark{
    color: black;
}

a.danger{
    color: red;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

label{
    color: #5bc0de;
    padding: 0px 10px;
}

.btn{
    margin: 5px 5px;
}

#auth{
    padding: 10px 20px;
    text-align: right;
    color: #ffffff;
}

#nav{
    padding: 10px 10px;
}

#find{
    padding: 10px 0px;
    display: block;
}

<!---->
#small_symbols{
    font-size: 12px;
}

.inside-container{
    margin-top: 30px;
}

.btn-dark{
    background-color: #2E2F31;
    color: #ffffff;
}

.last_ticket{
    padding: 10px 10px;
    color: #ffffff;
}

.last_ticket > span.last_ticket_number{
    color: #fb2300;
    font-size: 2em;
}