{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
    <script src="{% static 'js/mask.js' %}"></script>
</head>
<body>

{% if user.is_authenticated %}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Menu</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_ticket' %}">Dodaj kwit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all_tickets' %}">Dostępne kwity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'record' %}">Records debug</a>
      </li>

      {% if worker.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_user' %}">Rejestracja użytkownika</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_worker' %}">Rejectracja pracownika</a>
          </li>
      {% endif %}

    </ul>

    <span class="navbar-text">
        {% if worker %}
            <a href="{% url 'logout' %}" class="light">Wylogować ({{ worker.user.username }}, {{ worker.position.title }})</a>
        {% else %}
            <a href="{% url 'create_worker' %}" class="danger">Zarejestruj pracownika</a>
        {% endif %}
    </span>
  </div>
</nav>

{% endif %}

{% block content %}
<div class="row">
    <div class="col alert alert-successo fixed-top">DEVELOPEMENT <a href="https://github.com/artemholovnia/project" class="alert-link">github</a></div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
